.sign-in-container {
    display: flex;
    flex-direction: column;
    width: 450px;

    h2 {
        margin: 10px 0;
    }

    .submit-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

